body{
    text-align: center;
}

ul{
    list-style-position: inside;
    margin: 0;
    padding: 0;
    
}

.nav{
    list-style-type: none;
    
    }

h1{
    color:rgb(28, 0, 80);
}

#index-page{
    color:rgb(3, 70, 42);
}
.nav-class{
    display:inline-block;
}


b{
    color:rgb(255, 51, 0);
}
a{
    text-decoration: none;
}

#products-list{
    color:rgb(206, 136, 7);

}

.products{
    font-style: italic;
}

img{
    width: 360px;
}

.about-page{
    text-align: left;
}
.about-page h3{
    color:rgb(184, 120, 3);
}